# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Environment files
.env
raspberry_front_back_smart-check/backend/.env

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# Large media files
multimedia/videos/
*.mp4
*.avi
*.mkv

# Hailo DFC intermediate files, datasets and YOLO training runs
*.har
*.npy
ai_training/runs/
